<header>
  <div class="navbar bg-[#192655] text-white">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[2] p-2 shadow bg-base-100 rounded-box w-52 text-black"
        >
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Popular</a
            >
          </li>
          <li>
            <a
              routerLink="/top-rated"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Top Rated</a
            >
          </li>
          <li>
            <a
              routerLink="/favorites"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >My Favorites</a
            >
          </li>
        </ul>
      </div>
      <div class="ml-1 flex" routerLink="/">
        <img
          src="../../../../assets/images/movies.png"
          class="h-6 w-6 my-auto"
        />
        <a routerLink="/" class="btn btn-ghost text-xl -ml-2"
          >Angular Movie Apps</a
        >
      </div>
    </div>
    <div class="navbar-end hidden lg:flex">
      <ul class="menu menu-horizontal px-1 space-x-3">
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="hover:text-white"
            >Popular</a
          >
        </li>
        <li>
          <a
            routerLink="/top-rated"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="hover:text-white"
            >Top Rated</a
          >
        </li>
        <li>
          <a
            routerLink="/favorites"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="hover:text-white"
            >My Favorites</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
